# .gitignore for ha-tools
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/
build/
dist/
.eggs/
*.egg-info/
.DS_Store
.idea/
.vscode/
*.log
# Add to .gitignore to ensure secrets/config are never committed
# The config file is stored outside of the repository, so it is not necessary to ignore it.
HA-Tools-Private/
